# Dependency directories
node_modules/
jspm_packages/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# OS Metadata
.DS_Store
Thumbs.db

# IDE/Editor folders
.vscode/
.idea/
*.swp
*.swo

# Build/Dist folders
dist/
build/
out/

# Database/Storage
*.sqlite
dump.rdb
